#load{
    border: 5px solid black;
    text-align: center;
    background-color: peachpuff;
}
h1{
    text-align: center;
}
.pics{
    height: 100px !important;
}
.namee{
    color: red;
}

.price{
    color: green;
}
#kimmy{
    color: red;
}
#card{
    text-align: center;
    border: 10px groove blueviolet;
}
